body {
    padding-top: 80px;
}

.heading1{
  text-align: center;
  font-family: Dancing Script
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: visible;

    margin: 0;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
  }




.bgimg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 89vh;
  background-repeat: no-repeat;
}

.shade {
  width: 100%;
  height: 89vh;
  clip-path: 55% 0%, 47% 100%, 100% 100%, 100% 0%;
  background: rgba(0,0,0, 0.6);
  position: absolute;
}

.context {
  text-align: left;
  color: white;
  position: relative;
  padding-top: 14%;
  float: right;
  font-size: 1.3em;
}

.context>h1 {
  font-size: 1.8em;
  margin-bottom: 15px;
}


.nav__link {
        color: white;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1rem;
    }

    .nav__item {
        opacity: 0;
        transition: opacity 0.2s 2s ease;
      }

#button1{
  margin-left: 200px;
}

/*Styling for middle-conatiner*/

.images {
  align-items: center;
  padding: 30px;
}

.middle-container {
  margin: 20px 30px;
}

.middle-col-1 {
  position: relative;
  text-align: left;
  display: block;
  height: 1308px;
  min-height: auto;
  min-width: auto;
  max-width: 50%;
  width: 570px;
  padding: 0px 15px;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
}

.middle-col-2 {
  position: relative;
  text-align: left;
  display: block;
  height: 1308px;
  min-height: auto;
  min-width: auto;
  max-width: 41.6667;
  width: 475;
  padding: 0px 15px;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
}

.col-1-image {
  position: relative;
  height: 335px;
  width: 640px;
  margin: 0 -100px 0 0;
  z-index: 1;
  box-shadow: rgb(0, 0, 0, 0.3) 0px 10px 25px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  transform: none;
  transition: all 0s ease 0s;
}

.image-heading {
  font-size: 25.55px;
  line-height: 35.77px;
  text-align: left;
  height: 105px;
  width: 445px;
  margin: 0 0 30px 0;
  display: block;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
}

.col-1-image2 {
  height: 335px;
  width: 640px;
  margin: 420px 0 0 -105px;
  position: relative;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
  box-shadow: rgb(0, 0, 0, 0.3) 0px 10px 25px 0px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-2-image {
  position: relative;
  height: 335px;
  width: 545px;
  top: 80px;
  bottom: -80px;
  z-index: 2;
  margin: 0 0 130px -100px;
  box-shadow: rgb(0, 0, 0, 0.3) 0px 10px 25px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  transform: none;
  transition: all 0s ease 0s;
}

.col-1-blockquote {
  height: 285px;
  width: 220px;
  border: 1px solid teal;
  min-height: 180px;
  padding: 20px;
  margin: 0 0 20px 0;
  position: absolute;
  top: 376px;
  bottom: -346px;
  right: 155px;
  left: 265px;
  display: block;
  z-index: 0;
  transform: none;
  transition: all 0s ease 0s;
  font-size: 15.44px;
  line-height: 27.72px;
  text-align: left;
}

.images-para {
  font-size: 16.8px;
  font-weight: 300;
  text-align: left;
  height: 216px;
  width: 445px;
  margin: 0 0 20px 0;
  display: block;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
}


/* Styling for Footer */

footer {
  position: relative;
  background-color: rgba(0,0,0,0.9);
  margin-top: 150px;
}

.footer-text {
  text-align: justify;
  color: #fff;
  padding: 10px;
}

.footer-logo {
  margin-bottom: 30px;
  padding-left: 10px;
}

.footer-img {
  padding-top: 40px;
  width: 200px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.footer-list>li>a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer>.container>h1 {
  color: #fff;
}


footer>div>h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}



.footer-list:nth-child(1) {
  width: 70.91px;
}

.footer-hr {
  margin-top: 14px;
  width: 100%;
  border-top: solid 1px #fff;
  overflow: hidden;
}

footer>.container>.container {
  text-align: center;
}

footer>.container>.container>.row>.col-lg-4.col-md-6 {
  padding-bottom: 0;
}

footer>.container>.container>.row {
  margin-top: 0;
}

.legend {
  display: flex;
}

.social {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
}

.social li a {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #293243;
  padding: 0;
  text-align: center;
}

.social>li>a:hover,
.footer-list>li>a:hover {
  opacity: 0.85;
}

.social li {
  float: right;
}

.footer-icon {
  margin-top: 7px;
}

.footer-contain>.row {
  margin-left: auto;
  margin-right: auto;
}

.footer-col {
  padding: 0;
  width: auto;
  margin: 0 auto;
}



/*footer ends here*/

/* Features Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;

}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ff4c68;
    margin-bottom: 1rem;
    margin-right: 20px;
}

.icon:hover {
    color: #ef8172;
}
