html{
    scroll-behavior: smooth;
}

.review-description2{
    opacity: 0;
    margin-bottom: -100px;
}


.blockquote-footer{
    background: transparent;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.btn-primary {
    z-index: 80;
}

.reviews{
    margin-top: -200px;
    padding: -30px;
}

.review-img{
    
    margin: 10px;
}


.reviews>.card{
    margin: 20px;
}
.reviews-bt>.card{
    margin-bottom: 20px;
}


.reviews-bt{
    margin-top: -40px;
    padding: 30px;
}

.reviews-row{
    transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(-20deg) rotateZ(40deg);
}

.review-description{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    transform-style: preserve-3d;
  transform: rotateX(-80deg) rotateY(20deg) rotateZ(0deg);
}

.reviews-section-container{
    height: 700px;
    margin-top: 200px;
    overflow: hidden;
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); 
}

@media(max-width:973px)
{
    .reviews-row{
    width: 400px;
    margin: -80px;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateY(-20deg) rotateZ(5deg);
    }

    .review-description2{
        opacity: 1;
        margin-bottom: -150px;
        margin-top: 100px;
        text-align: center;
    }
    
    .review-description{
        margin-left: -400px;
        opacity: 0;
        font-size: 20px;
        transform-style: preserve-3d;
      transform: rotateX(-20deg) rotateY(20deg) rotateZ(-10deg);
    }

    .reviews-bt{
        opacity: 0;
    }
    
}

.card-text{
    font-size: 20px;
}